.article {
    height: 500px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: grid;
    place-items: center;
    filter: contrast(1.1) brightness(0.8);
}

.header {
    font-size: 80px;
    color: rgb(255, 255, 255);
    text-align: center;
    
}