.article {
    height: 500px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: grid;
    place-items: center;
    filter: contrast(0.9) brightness(1);
}

.header {
    font-size: 80px;
    color: #F7C85C;
    text-align: center;
}